* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: #4f4e52;
    margin: 8px;
}

/* Navigation Bar */
.navbar {
    background-color: #4f4e52 !important;
}

.navbar-brand, .nav-link {
    color: rgba(50, 136, 194, 0.7) !important;
}

.navbar-brand {
    font-weight: bolder;
    font-size: 40px;
}

.nav-link {
    font-weight: bold;
    font-size: 20px;
}

/* Hero Banner */
.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Cards */
.card {
    margin-bottom: 10px;
    border: black solid 2px;
    background-color: #c2babad5 !important;
}

.aboutme, .projects {
    font-size: 40px;
    font-weight: bold;
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 20px;
}

/* Buttons */
.btn-primary {
    background-color: rgba(50, 136, 194, 0.7);
    border-color: black;
    border: 2px solid;
    color: black;
}

/* Projects */

.horiseon h5 a{
    text-decoration: none;
    color: black;
}

/* Footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
